<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>KH Gauge Simulator</title>

<style>
    *, *::before, *::after {
        box-sizing: inherit;
    }
    [hidden] {
        display: none !important;
    }
    html {
        box-sizing: border-box;
        color-scheme: dark light;
        font: 18px 'Atkinson Hyperlegible Next', sans-serif;
        height: 100%;
    }
    body {
        margin: 0;
        min-height: 100%;
    }
    header {
        display: flex;
        gap: 0 2em;
        flex-flow: row wrap;
        align-items: center;
    }
    svg {
        display: block;
        margin: 1rem auto;
        max-width: 100%;
        height: auto;
    }
    menu {
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: .5em;
    }
    footer {
        font-size: 0.7rem;
        font-weight: 200;
        margin: 2rem 0;
    }
    pre {
        font: inherit;
        white-space: pre-line;
    }
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 1rem;
    }
    .magic-background {
        background: linear-gradient(to bottom, rgba(117, 98, 218, 0.2), rgba(55,65,118,0.2));
    }
    .items-background {
        background: linear-gradient(to bottom, rgba(118,201,135,0.2), rgba(61,152,79,0.2));
    }
</style>

<script type="module">
    const clamp = (val, min, max) => Math.min(Math.max(Number(val) || 0, min), max);
    const round = val => Math.round(val);

    function gaugePath(ir, or, ringWorth, pixelsPerUnit, value) {
        const t = clamp(value, 0, ringWorth) / ringWorth * 1.5 * Math.PI;
        const x = -Math.cos(t);
        const y = -Math.sin(t);

        const large = y > 0 ? 1 : 0;
        const outerArc = `A ${or} ${or} 0 ${large} 1 ${or * x} ${or * y}`;
        const innerArc = `A ${ir} ${ir} 0 ${large} 0 ${-ir} 0`;

        const w = pixelsPerUnit * Math.max(value - ringWorth, 0);
        const rect = w === 0 ? `L ${ir * x} ${ir * y}` : `H ${-w} V ${ir} H 0`;

        return `M ${-or} 0 ${outerArc} ${rect} ${innerArc} Z`;
    }

    import { createApp } from "./petite-vue.es.js";
    createApp({
        rawMaxHp: 114,
        rawHp: 114,
        rawMaxMp: 19,
        rawMp: 19,
        rawCh: 0,

        pixelsPerMp: 120,
        mpSplitterWidth: 10,
        outlineWidth: 8,

        chargeMpInterval: 0,
        loseHpInterval: 0,

        get maxHp () { return this.rawMaxHp; },
        set maxHp (value) {
            this.rawMaxHp = clamp(round(value), 18, 114);
            this.hp = this.rawHp;
        },

        get hp () { return this.rawHp; },
        set hp (value) {
            this.rawHp = clamp(round(value), 0, this.maxHp);
        },

        get maxMp () { return this.rawMaxMp; },
        set maxMp (value) {
            this.rawMaxMp = clamp(round(value), 0, 19);
            this.mp = this.rawMp;
            this.ch = this.rawCh;
        },

        get mp () { return this.rawMp; },
        set mp (value) {
            this.rawMp = clamp(round(value), 0, this.maxMp);
        },

        get ch () { return this.rawCh; },
        set ch (value) {
            this.rawCh = clamp(value, 0, this.maxMp);
        },

        get maxHpPath () {
            return gaugePath(120, 180, 54, this.pixelsPerMp / 6, this.maxHp);
        },
        get hpPath () {
            return gaugePath(120, 180, 54, this.pixelsPerMp / 6, this.hp);
        },
        get maxMpPath () {
            return gaugePath(180, 240, 9, this.pixelsPerMp, this.maxMp);
        },
        get mpPath () {
            return gaugePath(180, 240, 9, this.pixelsPerMp, this.mp);
        },
        get chPath () {
            return gaugePath(220, 240, 9, this.pixelsPerMp, this.ch);
        },
        get mpDashArray () {
            return `${this.mpSplitterWidth} ${this.pixelsPerMp - this.mpSplitterWidth}`;
        },

        download () {
            const a = document.createElement("a");
            a.hidden = true;
            a.href = URL.createObjectURL(new Blob([this.$refs.svgDocument.outerHTML], { type: "image/svg+xml" }));
            a.download = "khgauge.svg";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        },

        spendCh (amount) {
            if (this.ch >= amount) {
                this.ch -= amount;
            } else if (this.mp >= amount) {
                this.ch += this.mp - amount;
                this.mp -= 1;
            }
        },

        spendMp (amount) {
            if (this.mp >= amount) {
                this.mp -= amount;
                setTimeout(() => {
                    if (this.ch >= this.mp + 1) {
                        this.mp += 1;
                        this.ch -= this.mp;
                    }
                }, 50);
            }
        },

        toggleCharge (event) {
            clearInterval(this.chargeMpInterval);
            if (event.currentTarget.checked) {
                this.chargeMpInterval = setInterval(() => {
                    this.ch += 0.1;
                    if (this.ch >= this.mp + 1) {
                        this.mp += 1;
                        this.ch -= this.mp;
                    }
                }, 10);
            }
        },

        togglePoison (event) {
            clearInterval(this.loseHpInterval);
            if (event.currentTarget.checked) {
                this.loseHpInterval = setInterval(() => {
                    this.hp -= 1;
                }, 50);
            }
        },

        prayDonald () {
            if (this.hp / this.maxHp > 0.3)
                alert("You didn't customize Donald's behavior to heal outside of emergencies.");
            else if (Math.random() < 0.5)
                this.hp += 100;
            else if (Math.random() < 0.9)
                alert("Donald was KO and could not heal you.");
            else
                alert("Donald was out of MP.");
        },

        newGame () {
            this.rawHp = this.rawMaxHp = 18;
            this.rawMp = this.rawMaxMp = 1;
            this.rawCh = 0;
        },

        bestStats () {
            this.rawHp = this.rawMaxHp = 114;
            this.rawMp = this.rawMaxMp = 19;
            this.rawCh = 0;
        },
    }).mount("main");
</script>

<header class="container">
    <h1>KH Gauge Simulator</h1>
    <p>An interactive recreation of the Kingdom Hearts HUD, for illustrative purposes.</p>
</header>

<main>
<svg viewBox="-1220 -250 1500 500" width="1500" height="500" xmlns="http://www.w3.org/2000/svg" ref="svgDocument">
    <defs>
        <radialGradient id="hpRadialGradient" gradientUnits="userSpaceOnUse" cx="0" cy="0" fr="120" r="180">
            <stop stop-color="rgb(174,213,8)" />
            <stop stop-color="rgb(34,158,47)" offset="1" />
        </radialGradient>
        <linearGradient id="hpLinearGradient" href="#hpRadialGradient" x1="0" x2="0" y1="120" y2="180" />

        <radialGradient id="mpRadialGradient" gradientUnits="userSpaceOnUse" cx="0" cy="0" fr="180" r="240">
            <stop stop-color="rgb(49,131,221)" />
            <stop stop-color="rgb(71,65,187)" offset="1" />
        </radialGradient>
        <linearGradient id="mpLinearGradient" href="#mpRadialGradient" x1="0" x2="0" y1="180" y2="240" />

        <radialGradient id="chRadialGradient" gradientUnits="userSpaceOnUse" cx="0" cy="0" fr="220" r="240">
            <stop stop-color="rgb(254,136,1)" />
            <stop stop-color="rgb(255,169,5)" offset="1" />
        </radialGradient>
        <linearGradient id="chLinearGradient" href="#chRadialGradient" x1="0" x2="0" y1="220" y2="240" />

        <clipPath id="hpClipPath"><path :d="hpPath" /></clipPath>
        <mask id="maxHpMask" fill="white">
            <path id="maxHpPath" :d="maxHpPath" />
        </mask>

        <clipPath id="mpClipPath"><path :d="mpPath" /></clipPath>
        <line id="mpSplitter" stroke="black" :stroke-width="mpSplitterWidth" x2="-240" />
        <mask id="maxMpMask" fill="white">
            <path id="maxMpPath" :d="maxMpPath" />
            <use href="#mpSplitter" transform="rotate(30)" />
            <use href="#mpSplitter" transform="rotate(60)" />
            <use href="#mpSplitter" transform="rotate(90)" />
            <use href="#mpSplitter" transform="rotate(120)" />
            <use href="#mpSplitter" transform="rotate(150)" />
            <use href="#mpSplitter" transform="rotate(180)" />
            <use href="#mpSplitter" transform="rotate(210)" />
            <use href="#mpSplitter" transform="rotate(240)" />
            <line stroke="black" stroke-width="60" :stroke-dasharray="mpDashArray" y1="210" y2="210" x2="-100%" />
        </mask>

        <clipPath id="chClipPath"><path :d="chPath" /></clipPath>
        <rect id="lGradRect" x="-100%" width="100%" height="50%" />
    </defs>

    <g fill="rgb(24,28,42)">
        <use href="#maxHpPath" />
        <use href="#maxMpPath" />
    </g>

    <g clip-path="url(#hpClipPath)"  mask="url(#maxHpMask)">
        <circle fill="url(#hpRadialGradient)" r="180" />
        <use href="#lGradRect" fill="url(#hpLinearGradient)" />
    </g>

    <g clip-path="url(#mpClipPath)" mask="url(#maxMpMask)" >
        <circle fill="url(#mpRadialGradient)" r="240" />
        <use href="#lGradRect" fill="url(#mpLinearGradient)"  />
    </g>

    <g clip-path="url(#chClipPath)" mask="url(#maxMpMask)">
        <circle fill="url(#chRadialGradient)" r="240" />
        <use href="#lGradRect" fill="url(#chLinearGradient)" />
    </g>

    <g id="gaugeOutline" fill="none" stroke="black" :stroke-width="outlineWidth">
        <use href="#maxHpPath" />
        <use href="#maxMpPath" />
    </g>
</svg>

<div>
    <menu class="container">
        <li><label>Max HP <input v-model.lazy="maxHp" type="number" min="18" max="114"></label>
        <li><label>Max MP <input v-model.lazy="maxMp" type="number" min="0" max="19"></label>
        <li><label>HP <input v-model.lazy="hp" type="number" min="0" :max="maxHp"></label>
        <li><label>MP <input v-model.lazy="mp" type="number" min="0" :max="maxMp"></label>
        <li><button type="button" @click="newGame">New Game</button>
        <li><button type="button" @click="bestStats">Best Stats</button>
    </menu>
</div>

<div class="magic-background">
    <menu class="container">
        <li><button type="button" @click="spendCh(0.5)">Spend 0.5 charge</button>
        <li><button type="button" @click="spendCh(1)">Spend 1 charge</button>
        <li><button type="button" @click="spendMp(1)">Spend 1 MP</button>
        <li><button type="button" @click="spendMp(2)">Spend 2 MP</button>
        <li><button type="button" @click="spendMp(3)">Spend 3 MP</button>
        <li><button type="button" @click="mp = 0; ch = 0">Spend All MP</button>
        <li><label><input type="checkbox" @click="toggleCharge"> Charge MP over time</button>
    </menu>
</div>

<div class="items-background">
    <menu class="container">
        <li><button type="button" @click="hp += 30">Potion</button>
        <li><button type="button" @click="hp += 60">Hi-Potion</button>
        <li><button type="button" @click="prayDonald()">Pray to Donald</button>
        <li><button type="button" @click="hp = maxHp; mp = maxMp;">Elixir</button>
        <li><button type="button" @click="hp = maxHp; if (mp !== maxMp) ch = 0; mp = maxMp">Rest</button>
        <li><label><input type="checkbox" @click="togglePoison"> Lose HP over time</button>
    </menu>
</div>

<menu class="container">
    <li><label>Outlines <input v-model="outlineWidth" type="number" min="0" max="100"></label>
    <li><label>MP gaps <input v-model="mpSplitterWidth" type="number" min="0" max="100"></label>
    <li><label>MP rectangle width <input v-model="pixelsPerMp" type="number" min="1" max="1000"></label>
    <li><button type="button" @click="download">Download SVG</button>
</menu>
</main>

<footer class="container">
<p>
    This software was made from original assets, and imitates elements of the Kingdom Hearts video game for illustrative purposes only. It is not an official Kingdom Hearts product, and is not endorsed by its trademark owners or copyright holders.
</p>
<p>
    Feel free to use it to produce media for your own articles, guides or video essays for the Kingdom Hearts community. Accreditation is appreciated, but not necessary. The source code is available under MIT license.
</p>

<details>
    <summary>Changelog</summary>
    <p><time>2025-04-24</time> Implemented two-way binding for the form controls using petite-vue.</p>
</details>

<details>
    <summary>License Information</summary>
    <pre>© 2025 DominoPivot

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</pre>
</details>

<details>
    <summary>Third party credits</summary>
    <p>
        Made with the petite-vue framework used under MIT license. <a href="petite-vue.es.js">See minified source for the full notice.</a>.
    </p>
</details>
</footer>
