.CommandMenu {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: space-evenly;
}

.CommandMenu > * {
    flex: 0.25 0.25 fit-content;
}

.CommandList {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

.CommandMenuHeading {
    background: black;
    border: 2px solid var(--detail);
    border-right-width: 1em;
    border-radius: 1em 1em 0 0;
    color: var(--highlight);
    font: 18px KHGummi, sans-serif;
    padding: 2px .5em;
    position: relative;
    user-select: none;
}

.Command {
    background: black;
    border: 2px solid var(--detail);
    border-left-width: .5em;
    border-radius: 0 1em 1em 0;
    color: rgb(230, 230, 230);
    display: block;
    font: 18px KHMenu;
    margin: 0;
    padding: 0.1em 1em;
    position: relative;
    text-align: left;
    user-select: none;
    white-space: nowrap;
}

.Command:hover,
.Command:focus-visible {
    background: linear-gradient(to bottom, black 50%, var(--detail));
    border-color: var(--highlight);
    outline: none;
    transform: translate(0.6em);
}

.Command:disabled {
    color: rgb(115, 115, 115);
}

.Command:has(>.Command__pressedIndicator) {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Command__pressedIndicator {
    display: inline-block;
    font: 0.5em KHGummi, sans-serif;
    text-align: center;
    width: 3em;
}

.passive-palette {
    --detail: rgb(38, 61, 104);
    --highlight: rgb(86, 125, 230);
}

.combat-palette {
    --detail: rgb(105, 33, 29);
    --highlight: rgb(201, 80, 80);
}

.magic-palette {
    --detail: rgb(65, 55, 118);
    --highlight: rgb(118, 99, 218);
}

.items-palette {
    --detail: rgb(58, 86, 66);
    --highlight: rgb(68, 171, 89);
}

.summon-palette {
    --detail: rgb(124, 69, 31);
    --highlight: rgb(212, 135, 37);
}
